.metalHeader>span{
    transform:translateY(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.metalHeader>span:nth-child(1){
    z-index: 2;
}
.metalHeader>span:nth-child(2){
    z-index: 1;
    text-shadow: 1px 1px 0px #262626,
                 2px 2px 0px #262626,
                 3px 3px 0px #262626,
                 4px 4px 0px #262626,
                 5px 5px 0px #262626,
                 1px 1px 0px #262626,
                 6px 20px 20px rgb(0,0, 0,1);
}