.containers{
    position: relative;
    top: 50%;
    left: 50%;
    animation: cardMovement 10s ease-in-out infinite;
    box-sizing: border-box;
    border: 6px solid #172554;
    font-family: arial;
    border-bottom: 1.5em solid #172554;
}
@keyframes cardMovement{
    0%{
        transform: translate(-50%, -50%) skewY(-5deg);
        box-shadow: -1px -1px 0 #ffffff,
                -2px -2px 0 #ffffff,
                -3px -3px 0 rgb(255, 255, 255),
                -4px -4px 0 #ffffff,
                -5px -5px 0 #fafafa,
                -6px -6px 0 rgb(255, 255, 255);
    }
    50%{
        transform: translate(-50%, -50%) skewY(5deg);
         box-shadow: 1px -1px 0 #ffffff,
                2px -2px 0 #ffffff,
                3px -3px 0 #ffffff,
                4px -4px 0 #ffffff,
                5px -5px 0 #fafafa,
                6px -6px 0 #ffffff;
    }
    100%{
        transform: translate(-50%, -50%) skewY(-5deg);
            box-shadow: -1px -1px 0 #ffffff,
                -2px -2px 0 #ffffff,
                -3px -3px 0 #ffffff,
                -4px -4px 0 #ffffff,
                -5px -5px 0 #fafafa,
                -6px -6px 0 #ffffff;
    }
}
.containers:before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -1.3em;
    left: 50%;
    transform: translateX(-50%) translateY(18px) rotate(45deg);
    border-bottom:2px solid #172554;
    border-right:2px solid #172554;
    background: #172554;
}
.containers:after{
    content: '';
    width: 100px;
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%) translateY(36px);
    border-radius: 50%;
    filter: blur(3px);
}