.neon{
    /* font-size: 4em; */
    color: aliceblue;
    text-shadow: 0 0 30px #f0005b;
}
.neon:after{
    /* content: attr(data-text); */
    z-index: -1;
    color: #f0005b;
    filter: blur(20px);
}
.neon:before{
    content: '';
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(50px);
}